
@import "./main_props.scss";

#home-container {
  position: absolute;
  top: 90px;
  width: 1200px;
  max-width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

#featured-receipe-container {
  width: 100%;
  background-color: $main_light_blue;
  border-radius: 50px;
  display: flex;
  flex-flow: row;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;

  .text-conatiner {
    width: 47%;
    padding: 30px;
    display: flex;
    flex-flow: column;

    .category {
      background-color: #fff;
      padding: 10px 20px;
      border-radius: 30px;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    #f-dish-name {
      font-size: 55px;
      font-weight: bolder;
      margin-top: 30px;
    }

    #f-dish-descriptin {
      color: #00000095;
      line-height: 28px;
      margin-top: 45px;
    }

    #f-dish-details {
      display: flex;
      flex-flow: row;
      margin-top: 40px;
      #f-dish-time,
      #f-dish-type {
        padding: 5px 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00000011;
        margin-right: 30px;
        border-radius: 20px;
        img {
          height: 25px;
          margin-right: 10px;
        }
      }
    }

    #f-dish-view {
      border: none;
      outline: none;
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      color: #fff;
      background-color: #000;
      width: 250px;
      align-self: end;
      margin-top: 50px;
      border-radius: 20px;
      margin-bottom: 30px;
      img {
        height: 30px;
        margin-left: 15px;
      }
      cursor: pointer;
    }

    #f-dish-view:hover {
      color: $main_light_blue;
    }
  }

  #dish-image {
    width: 53%;
  }

  #badge {
    position: absolute;
    width: 125px;
    right: 47%;
    top: 8%;
  }
}

#categories {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  #c-section1 {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    #c-h1 {
      font-size: 48px;
      text-transform: capitalize;
    }

    #show-all {
      width: 200px;
      height: 60px;
      border-radius: 16px;
      background-color: $main_light_blue;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: bold;
      text-transform: capitalize;
      cursor: pointer;
      box-shadow: 1px 3px 3px #39393911;
    }
  }

  #c-section2 {
    margin-top: 30px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    .category {
      width: 180px;
      height: 202px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      .category-name {
        text-transform: capitalize;
        font-size: 16px;
        font-weight: bold;
      }

      .category-img {
        width: 100px;
        height: 100px;
        margin-bottom: 40px;
      }
    }

    .category:nth-of-type(1),
    .category:nth-of-type(5),
    .category:nth-of-type(6) {
      background: linear-gradient(180deg, #fff 0%, rgb(246, 246, 246) 100%);
    }

    .category:nth-of-type(2) {
      background: linear-gradient(180deg, #fff 0%, rgb(240, 255, 233) 100%);
    }

    .category:nth-of-type(3) {
      background: linear-gradient(180deg, #fff 0%, #ffebea 100%);
    }
    .category:nth-of-type(4) {
      background: linear-gradient(180deg, #fff 0%, #fff4e1 100%);
    }
  }
}

#simple-dishs-container {
  width: 100%;
  margin: 100px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  #simple-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 100px;
    h2 {
      font-size: 45px;
      font-weight: bold;
      margin-bottom: 40px;
    }
    p {
      width: 60%;
      line-height: 28px;
      color: rgba(0, 0, 0, 0.599);
      text-align: center;
    }
  }

  #simple-dishes {
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    .dish {
      width: calc(94%/3);
      height: 350px;
      padding: 10px 10px 20px 10px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 40px;
      transition: all 0.3s ease;

      cursor: pointer;
      .dish-pic {
        width: 100%;
        height: 230px;
        border-radius: 30px;
      }

      .dish-name {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        margin-top: 5px;
        overflow: dotted;
        padding-left: 10px;
      }

      .dish-details {
        width: 100%;
        margin-top: 5px;
        padding-left: 10px;
        height: 24px;
        display: flex;
        flex-flow: row;
        color: #00000081;
        .dish-type,
        .dish-time {
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
          .details-icon {
            width: 24px;
            height: 24px;
            margin-right: 7px;
          }
        }
      }
    }
  }

  #ad{
    width: calc(88%/3);
    margin-top: -14px;
    order: 5;
    img{
      width: 100%;
        // height: auto;
    }
  }
}

.dish:hover{
  background: linear-gradient(180deg, #fff 0%, $main_light_blue 100%);
  transform: translateY(-2px);
                box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}


#learn-container{
    width: 97%;
    height: 597px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    #learn-text{
        width: 50%;
        margin-top: 20px;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        justify-content: flex-end;

        h2{
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 30px;
        }

        p{
            font-size: 16px;
            line-height: 28px;
            color: #00000099;
            margin-bottom: 40px;
            padding-right: 10px;
        }

        button{
            width: 180px;
            height: 60px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 16px;
            border:none;
            outline: none;
            color: #fff;
            background-color: #000;
            align-self: flex-start;
            margin-top: 40px;
        }
    }
    #learn-image{
        background: linear-gradient(180deg, #fff 0%, $main_light_blue 100%);
        border-radius: 30px;
        width: 50%;
        img{
          width: 100%;
        }
    }
}

#instagram-container{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #fff 0%, $main_light_blue 100%);

    #insta-text{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
            h2{
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 30px;
        }

        p{
            width: 60%;
            font-size: 16px;
            line-height: 28px;
            color: #00000099;
            text-align: center;
            margin-bottom: 70px;
        }
    }

    #insta-screenhots{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 70px;

        img{
          width: calc(95%/4);
        }
    }

    #insta-btn{
      a{
        text-decoration:none;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
      }
      display: flex;
      align-items: center;
      justify-content: center;
        width: 229px;
        height: 60px;
        border-radius: 16px;
        background-color: #000;
        margin-bottom: 80px;
        cursor: pointer;
    }
}

/* RESPONSIVE DESIGN */
@media (max-width: 1200px) {
  #home-container {
    width: 95%;
    top: 80px;
  }
  
  #featured-receipe-container {
    border-radius: 40px;
    
    .text-conatiner {
      #f-dish-name {
        font-size: 45px;
      }
      
      #f-dish-view {
        width: 220px;
        font-size: 1.3rem;
      }
    }
  }
  
  #categories #c-section1 #c-h1 {
    font-size: 42px;
  }
  
  #simple-dishs-container #simple-heading h2 {
    font-size: 40px;
  }
  
  #learn-container #learn-text h2,
  #instagram-container #insta-text h2 {
    font-size: 42px;
  }
}

@media (max-width: 992px) {
  #featured-receipe-container {
    flex-flow: column;
    border-radius: 30px;
    
    .text-conatiner {
      width: 100%;
      padding: 25px;
      
      #f-dish-name {
        font-size: 38px;
        margin-top: 20px;
      }
      
      #f-dish-descriptin {
        margin-top: 30px;
      }
      
      #f-dish-details {
        margin-top: 30px;
      }
      
      #f-dish-view {
        align-self: center;
        margin-top: 30px;
      }
    }
    
    #dish-image {
      width: 100%;
      order: -1;
    }
    
    #badge {
      right: 5%;
      top: 5%;
      width: 100px;
    }
  }
  
  #categories #c-section2 {
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    
    .category {
      width: calc(50% - 40px);
      max-width: 200px;
      margin-bottom: 20px;
    }
  }
  
  #simple-dishs-container #simple-dishes .dish {
    width: calc(96%/2);
    margin-bottom: 30px;
  }
  
  #learn-container {
    flex-flow: column;
    height: auto;
    padding: 40px 0;
    
    #learn-text {
      width: 100%;
      align-items: center;
      text-align: center;
      
      p {
        padding-right: 0;
      }
      
      button {
        align-self: center;
      }
    }
    
    #learn-image {
      width: 100%;
      margin-top: 40px;
    }
  }
  
  #instagram-container #insta-screenhots {
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    
    img {
      width: calc(50% - 30px);
      max-width: 300px;
    }
  }
}

@media (max-width: 768px) {
  #home-container {
    top: 70px;
    padding: 8px;
  }
  
  #featured-receipe-container {
    border-radius: 25px;
    margin-bottom: 30px;
    
    .text-conatiner {
      padding: 20px;
      
      #f-dish-name {
        font-size: 32px;
      }
      
      #f-dish-view {
        width: 200px;
        font-size: 1.1rem;
        padding: 14px;
      }
    }
  }
  
  #categories {
    margin-top: 70px;
    margin-bottom: 70px;
    
    #c-section1 {
      flex-flow: column;
      gap: 20px;
      
      #c-h1 {
        font-size: 36px;
        text-align: center;
      }
      
      #show-all {
        width: 180px;
        height: 55px;
      }
    }
    
    #c-section2 {
      gap: 15px;
      
      .category {
        width: calc(50% - 15px);
        height: 180px;
        
        .category-img {
          width: 80px;
          height: 80px;
          margin-bottom: 30px;
        }
      }
    }
  }
  
  #simple-dishs-container {
    margin: 70px 0;
    
    #simple-heading {
      margin-bottom: 70px;
      
      h2 {
        font-size: 36px;
        text-align: center;
      }
      
      p {
        width: 80%;
      }
    }
    
    #simple-dishes .dish {
      width: 100%;
      max-width: 400px;
      height: 320px;
    }
    
    #ad {
      width: 100%;
      max-width: 400px;
      order: 6;
    }
  }
  
  #learn-container #learn-text h2,
  #instagram-container #insta-text h2 {
    font-size: 36px;
  }
  
  #instagram-container #insta-text p {
    width: 80%;
  }
}

@media (max-width: 576px) {
  #home-container {
    top: 60px;
  }
  
  #featured-receipe-container {
    border-radius: 20px;
    
    .text-conatiner {
      padding: 15px;
      
      .category {
        padding: 8px 16px;
        font-size: 14px;
      }
      
      #f-dish-name {
        font-size: 28px;
        margin-top: 15px;
      }
      
      #f-dish-descriptin {
        margin-top: 20px;
        line-height: 24px;
      }
      
      #f-dish-details {
        margin-top: 20px;
        gap: 10px;
        
        #f-dish-time,
        #f-dish-type {
          margin-right: 0;
          width: fit-content;
        }
      }
      
      #f-dish-view {
        width: 180px;
        font-size: 1rem;
        margin-top: 25px;
        margin-bottom: 20px;
        
        img {
          height: 25px;
          margin-left: 10px;
        }
      }
    }
    
    #badge {
      width: 80px;
    }
  }
  
  #categories {
    margin-top: 50px;
    margin-bottom: 50px;
    
    #c-section1 #c-h1 {
      font-size: 30px;
    }
    
    #c-section2 {
      gap: 10px;
      
      .category {
        width: calc(50% - 10px);
        height: 160px;
        border-radius: 20px;
        
        .category-img {
          width: 70px;
          height: 70px;
          margin-bottom: 20px;
        }
        
        .category-name {
          font-size: 14px;
        }
      }
    }
  }
  
  #simple-dishs-container {
    margin: 50px 0;
    
    #simple-heading {
      margin-bottom: 50px;
      
      h2 {
        font-size: 30px;
        margin-bottom: 25px;
      }
      
      p {
        width: 90%;
        font-size: 14px;
        line-height: 24px;
      }
    }
    
    #simple-dishes .dish {
      height: 300px;
      padding: 8px 8px 15px 8px;

      .details-icon{
        width: 17px;
        height: 17px;
      }
      
      .dish-pic {
        height: 200px;
      }
      
      .dish-name {
        font-size: 18px;
      }
    }
  }
  
  #learn-container {
    padding: 30px 0;
    
    #learn-text {
      h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      
      p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 30px;
      }
      
      button {
        width: 160px;
        height: 50px;
        font-size: 13px;
        margin-top: 30px;
      }
    }
  }
  
  #instagram-container {
    margin-top: 70px;
    
    #insta-text {
      h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      
      p {
        width: 90%;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 50px;
      }
    }
    
    #insta-screenhots {
      flex-flow: column;
      gap: 15px;
      
      img {
        width: 100%;
        max-width: 300px;
      }
    }
    
    #insta-btn button {
      width: 200px;
      height: 55px;
      font-size: 13px;
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 400px) {

 
  
  #categories #c-section2 .category {
    width: 100%;
    max-width: 160px;
  }
  
  #simple-dishs-container{
     #simple-dishes
     { .dish {
    height: 280px;
    .details-icon{
      width: 17px;
      height: 17px;
    }

    .dish-pic {
      height: 180px;
    }
  }
}}
}
