@import "./main_props.scss";

#subscribe-conatiner{
    width: 100%;
    height: 442px;
    background-color: $main_light_blue;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border-radius: 60px;
    overflow: hidden;
    img{
        position: absolute;
    }
    #salad{
        left: 0;
        bottom: 0;
    }

    #egg{
        right: 0;
        bottom: 0;
    }

    #plant{
        right: 20%;
        bottom: 20%;
    }

    #subscribe-text{
        display: flex;
        flex-flow: column;
        align-self: center;
        justify-content: center;
        width: 50%;
        h2{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 42px;
            font-weight: bold;
            margin-bottom: 30px;
        }
        p{
            font-size: 16px;
            line-height: 28px;
            color: rgba(0, 0, 0, 0.636);
            text-align: center;
        }

        #email-section{
            display: flex;
            flex-flow: row;
            align-self: center;
            justify-content: space-between;
            margin-top: 60px;
            height: 80px;
            width: 480px;
            background-color: #fff;
            padding: 10px;
            border-radius: 24px;

            input{
                border: none;
                outline: none;
                font-family: 14px;
                width: 290px;
                padding-left: 20px ;
            }

            button{
                width: 160px;
                height: 60px;
                font-size: 14px;
                font-weight: bold;
                color: #fff;
                background-color: #000;
                border-radius: 16px;
                border: none;
                outline: none;
                cursor: pointer;
            }
                }
    }
}

/* RESPONSIVE DESIGN */
@media (max-width: 1200px) {
  #subscribe-conatiner {
    height: 400px;
    border-radius: 50px;
    margin-top: 80px;
    
    #subscribe-text {
      width: 60%;
      
      h2 {
        font-size: 38px;
      }
    }
  }
}

@media (max-width: 992px) {
  #subscribe-conatiner {
    height: 380px;
    border-radius: 40px;
    
    #subscribe-text {
      width: 70%;
      
      h2 {
        font-size: 34px;
        margin-bottom: 25px;
      }
      
      #email-section {
        width: 440px;
        height: 75px;
        
        input {
          width: 260px;
        }
        
        button {
          width: 150px;
          height: 55px;
        }
      }
    }
    
    #plant {
      right: 15%;
      bottom: 15%;
    }
  }

   
  #salad,
  #egg {
    width: 140px;
  }
  
  #plant {
    width: 40px;
    right: 10%;
    bottom: 10%;
  }
}

@media (max-width: 768px) {
  #subscribe-conatiner {
    height: 350px;
    border-radius: 30px;
    margin-top: 60px;
    padding: 15px;
    
    #subscribe-text {
      width: 80%;
      
      h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      
      p {
        font-size: 15px;
        line-height: 26px;
      }
      
      #email-section {
        width: 400px;
        height: 70px;
        margin-top: 40px;
        
        input {
          width: 230px;
          font-size: 13px;
        }
        
        button {
          width: 140px;
          height: 50px;
          font-size: 13px;
        }
      }
    }
    
    #salad,
    #egg {
      width: 120px;
    }
    
    #plant {
      width: 80px;
      right: 10%;
      bottom: 10%;
    }
  }
}

@media (max-width: 576px) {
  #subscribe-conatiner {
    height: 300px;
    border-radius: 25px;
    margin-top: 50px;
    padding: 10px;
    
    #subscribe-text {
      width: 90%;
      
      h2 {
        font-size: 20px;
        margin-bottom: 15px;
      }
      
      p {
        font-size: 14px;
        line-height: 24px;
      }
      
      #email-section {
        width: 100%;
        max-width: 350px;
        height: 50px;
        margin-top: 30px;
        padding: 8px;
        border-radius: 16px;
        
        input {
          width: 200px;
          padding-left: 15px;
          font-size: 12px;
        }
        
        button {
          width: 90px;
          height: 35px;
          font-size: 12px;
          border-radius: 11px;
        }
      }
    }
    

    #egg {
      width: 60px;
    }
    #salad{
        width: 80px;
    }
    
    #plant {
      width: 60px;
      right: 5%;
      bottom:30%;
    }
  }
}

@media (max-width: 400px) {
  #subscribe-conatiner {
    height: 280px;
    border-radius: 20px;
    
    #subscribe-text {
      width: 95%;
      
      h2 {
        font-size: 22px;
      }
      
      p {
        font-size: 13px;
        line-height: 22px;
      }
      
      #email-section {
        height: 55px;
        
        input {
          width: 180px;
          font-size: 11px;
        }
        
        button {
          width: 110px;
          height: 40px;
          font-size: 11px;
        }
      }
    }
    
    #salad {
      width: 90px;
    }

    #egg{
      width: 60px;
    }
    
    #plant {
      display: none;
    }
  }
}