@import "./main_props.scss";

#subscribe-conatiner{
    width: 100%;
    height: 442px;
    background-color: $main_light_blue;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border-radius: 60px;
    overflow: hidden;
    img{
        position: absolute;
    }
    #salad{
        left: 0;
        bottom: 0;
    }

    #egg{
        right: 0;
        bottom: 0;
    }

    #plant{
        right: 20%;
        bottom: 20%;
    }

    #subscribe-text{
        display: flex;
        flex-flow: column;
        align-self: center;
        justify-content: center;
        width: 50%;
        h2{
            font-size: 45px;
            font-weight: bold;
            margin-bottom: 30px;
        }
        p{
            font-size: 16px;
            line-height: 28px;
            color: rgba(0, 0, 0, 0.636);
            text-align: center;
        }

        #email-section{
            display: flex;
            flex-flow: row;
            align-self: center;
            justify-content: space-between;
            margin-top: 60px;
            height: 80px;
            width: 480px;
            background-color: #fff;
            padding: 10px;
            border-radius: 24px;

            input{
                border: none;
                outline: none;
                font-family: 14px;
                width: 290px;
                padding-left: 20px ;
            }

            button{
                width: 160px;
                height: 60px;
                font-size: 14px;
                font-weight: bold;
                color: #fff;
                background-color: #000;
                border-radius: 16px;
                border: none;
                outline: none;
                cursor: pointer;
            }
                }
    }
}